<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <p>FM4A &copy; 2025</p>
    <div style="width: 80%; margin: auto; font-size: 14pt;">
    * The material contained in this document is based upon work supported by a National
Aeronautics and Space Administration (NASA) grant or cooperative agreement. Any
opinions, findings, conclusions or recommendations expressed in this material are those
of the author and do not necessarily reflect the views of NASA.
    </div>

</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
